{{ $item := .item }}

<div class="col-lg-12 mb-5">
  <div class="card h-100 border-0 shadow">
    <div class="row g-0">
      {{ with $item.Params.image }}
        <div class="col-md-4">
          {{ $image := resources.GetMatch . }}
          {{ with $image }}
            <img src="{{ .RelPermalink }}" class="card-img-top h-100 object-cover" alt="{{ $item.Title }}">
          {{ end }}
        </div>
      {{ end }}
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ $item.RelPermalink }}" class="text-dark">{{ $item.Title }}</a>
          </h5>
          {{ with $item.Params.summary }}
            <p class="card-text">{{ . | markdownify | emojify }}</p>
          {{ end }}
          {{ partial "page_links" (dict "page" $item "is_list" 1) }}
        </div>
      </div>
    </div>
  </div>
</div>