<div class="col-lg-12 mb-5 view-compact">
  <div class="contact-card h-100">
    <div class="row g-0">
      <div class="col-md-4">
        {{ $image := (.Params.image.filename | default "")}}
        {{ with $image }}
          <img src="{{ (resources.GetMatch . | default resources.GetMatch (printf "images/%s" .)).RelPermalink }}" class="card-img" alt="{{ $.Title }}">
        {{ end }}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="article-title mb-0 mt-0">
            <a href="{{ .RelPermalink }}" class="text-decoration-none">{{ .Title }}</a>
          </h3>
          {{ with .Params.summary }}
            <p class="card-text">{{ . | markdownify | emojify }}</p>
          {{ end }}
          {{ partial "page_links" (dict "page" . "is_list" 1) }}
        </div>
      </div>
    </div>
  </div>
</div>
