/* 기본 라이트 모드 스타일 */
.project-section {
    background-color: #ffffff; /* 라이트 모드에서의 배경색 */
    color: #000000; /* 텍스트 색상 */
  }
  
  /* 다크 모드일 때 적용할 스타일 */
  @media (prefers-color-scheme: dark) {
    .project-section {
      background-color: #00001a; /* 다크 모드에서의 배경색 */
      color: #ffffff; /* 다크 모드에서의 텍스트 색상 */
    }
  }
  