{{ $lightGif := .Get 0 }}
{{ $darkGif := .Get 1 }}
<style>
  :root {
    --bg-image: url('{{ $lightGif }}');
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-image: url('{{ $darkGif }}');
    }
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>